<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/sectors"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom"  horizontal="end" *ngIf="viewButtomSave">
    <ion-fab-button color="primary" (click)="save()" [disabled]="!categForm.valid">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="top"  horizontal="end" *ngIf="viewButtomEdit">
    <ion-fab-button color="warning" (click)="edit()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngIf="visibleCardCateg">

    <ion-card-header>
      <ion-card-title>Categoria</ion-card-title>
    </ion-card-header>

    <ion-card-content >
      <form [formGroup]="categForm">

        <ion-list>
          <ion-item>
            <ion-label position="floating">Nome da categoria</ion-label>
            <ion-input formControlName="nome" type="text" id="nome" [readonly]="isReadOnly"></ion-input>
          </ion-item>

          <ion-text color="danger" *ngIf="nome.errors && (nome.dirty || nome.touched)">
            <small *ngIf="nome.errors.required">Nome é obrigatório</small>
            <small *ngIf="nome.errors.minlength">
              O campo Nome deve conter no mínimo {{nome.errors.minlength.requiredLength}} caracteres
            </small>
            <small *ngIf="nome.errors.maxlength">
              O campo Nome deve conter no máximo {{nome.errors.maxlength.requiredLength}} caracteres
            </small>
          </ion-text>

          <ion-label>Setor</ion-label>
          <ion-item >
            <!-- <ion-label>Setor</ion-label> -->
            <ion-select  formControlName="sectorID" name="sectorID" multiple="false" ok-text="OK" cancel-text="Cancelar">
              <ion-select-option [value]="sector.id" *ngFor="let sector of sectors">{{sector.nome}}</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-list>
      </form>

    </ion-card-content>
  </ion-card>


  <!-- <ion-card *ngIf="true">
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nome da categoria</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-button color="primary" expand="full" disabled="true" >Salvar</ion-button>

    </ion-card-content>
  </ion-card> -->

  <ion-card>
    <ion-card-header>
      <!-- <ion-card-subtitle>Tickets</ion-card-subtitle> -->
      <ion-card-title>Tickets</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button color="danger" expand="full" routerLink="/sectors">Criar Ticket</ion-button>
      <ion-button color="warning" expand="full" routerLink="/tickets">Ver Tickets</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
