<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-label>Nada a exibir</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Personalização</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-toggle color="primary"></ion-toggle>
        <ion-label>Teste1</ion-label>
      </ion-item>

      <ion-item>
        <ion-toggle color="primary"></ion-toggle>
        <ion-label>Teste1</ion-label>
      </ion-item>

      <ion-item>
        <ion-toggle color="primary"></ion-toggle>
        <ion-label>Teste1</ion-label>
      </ion-item>

      <ion-item>
        <ion-toggle color="primary"></ion-toggle>
        <ion-label>Teste1</ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Sistema</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-toggle color="primary"></ion-toggle>
        <ion-label>Teste1</ion-label>
      </ion-item>

      <ion-item>
        <ion-toggle color="primary"></ion-toggle>
        <ion-label>Teste1</ion-label>
      </ion-item>

      <ion-item>
        <ion-toggle color="primary"></ion-toggle>
        <ion-label>Teste1</ion-label>
      </ion-item>

      <ion-item>
        <ion-toggle color="primary"></ion-toggle>
        <ion-label>Teste1</ion-label>
      </ion-item>

    </ion-card-content>
  </ion-card>

</ion-content>
