<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Setores</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content fullscreen="true">

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <div>
          <ion-searchbar animated placeholder="Procurar"></ion-searchbar>
        </div>
      </ion-col>
      <ion-col size="6"></ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="new">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list lines="inset">
    <ion-list-header>
      {{message}}
    </ion-list-header>


    <ion-item button [routerLink]="[s.id]" *ngFor="let s of sectors">
      <ion-avatar slot="start">
        <img src="../../../assets/img/img1.png">
      </ion-avatar>
      <ion-label>
        <h2>{{s.nome}}</h2>
        <!-- <h3>I'm a big deal</h3> -->
        <!-- <p>Listen, I've had a pretty messed up day...</p> -->
      </ion-label>
    </ion-item>

  </ion-list>



</ion-content>
