<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/tickets"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Novo Ticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>




  <ion-card>
    <ion-card-content>

      <ion-item>
        <ion-label position="stacked">Setor</ion-label>
        <ion-input placeholder="Setor" value='Setor Teste'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Categoria</ion-label>
        <ion-input placeholder="Categoria" value='Categoria Teste'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Assunto</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Descrição</ion-label>
        <ion-textarea placeholder="Insira mais detalhes..."></ion-textarea>
      </ion-item>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Anexos</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-button>
        <ion-icon slot="start" name="add"></ion-icon>
        Anexar
      </ion-button>
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Comentarios</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <ion-list>
        <ion-item>
          <ion-input placeholder="Adicionar comentario"></ion-input>

          <ion-button slot="end">Comentar</ion-button>
        </ion-item>
      </ion-list>


    </ion-card-content>
  </ion-card>

</ion-content>
