<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Tickets</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button routerLink="new">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-segment value="pendente">
    <ion-segment-button value="pendente">
      <ion-label>Pendente</ion-label>
    </ion-segment-button>
    <ion-segment-button value="finalizado">
      <ion-label>Finalizado</ion-label>
    </ion-segment-button>
    <ion-segment-button value="concluido">
      <ion-label>Cancelado</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card>
    <ion-card-content>
      <ion-label>Nenhum resultado encontrado!</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-list lines="inset">
    <ion-item button>
      <ion-avatar slot="start">
        <img src="../../../assets/img/img1.png">
      </ion-avatar>
      <ion-label>
        <h2>Pack Supermercados</h2>
        <h3>Nota de entrada via XML do fornecedor</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti fugiat iusto nobis quia at voluptatem officiis nihil suscipit cumque minus, architecto, a fuga enim repellat ipsam quis ullam. Esse, placeat!</p>
      </ion-label>

      <ion-label slot="end">
        <ion-note slot="end" color="danger">Urgente</ion-note>
      </ion-label>
      <!-- <ion-note slot="end" color="warning">Alto</ion-note> -->
    </ion-item>

    <ion-item button>
      <ion-avatar slot="start">
        <img src="../../../assets/img/img1.png">
      </ion-avatar>
      <ion-label>
        <h2>Hiper 1,99</h2>
        <h3>Novo recurso no PDV</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti fugiat iusto nobis quia at voluptatem officiis nihil suscipit cumque minus, architecto, a fuga enim repellat ipsam quis ullam. Esse, placeat!</p>
      </ion-label>
      <ion-label slot="end">
        <ion-note slot="end" color="warning">Alto</ion-note>
      </ion-label>
    </ion-item>

    <ion-item button>
      <ion-avatar slot="start">
        <img src="../../../assets/img/img1.png">
      </ion-avatar>
      <ion-label>
        <h2>NOSSALOJA - NV</h2>
        <h3>Implantação de sistema local</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti fugiat iusto nobis quia at voluptatem officiis nihil suscipit cumque minus, architecto, a fuga enim repellat ipsam quis ullam. Esse, placeat!</p>
      </ion-label>
      <ion-label slot="end">
        <ion-note slot="end" color="warning">Alto</ion-note>
      </ion-label>
    </ion-item>

    <ion-item button>
      <ion-avatar slot="start">
        <img src="../../../assets/img/img1.png">
      </ion-avatar>
      <ion-label>
        <h2>WN Software</h2>
        <h3>Bug em Software</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti fugiat iusto nobis quia at voluptatem officiis nihil suscipit cumque minus, architecto, a fuga enim repellat ipsam quis ullam. Esse, placeat!</p>
      </ion-label>
      <ion-label slot="end">
        <ion-note slot="end" color="warning">Alto</ion-note>
      </ion-label>
    </ion-item>

    <ion-item button>
      <ion-avatar slot="start">
        <img src="../../../assets/img/img1.png">
      </ion-avatar>
      <ion-label>
        <h2>Pesque Pague KÁ</h2>
        <h3>Bug em Software</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti fugiat iusto nobis quia at voluptatem officiis nihil suscipit cumque minus, architecto, a fuga enim repellat ipsam quis ullam. Esse, placeat!</p>
      </ion-label>
      <ion-label slot="end">
        <ion-note slot="end" color="warning">Alto</ion-note>
      </ion-label>
    </ion-item>

    <ion-item button>
      <ion-avatar slot="start">
        <img src="../../../assets/img/img1.png">
      </ion-avatar>
      <ion-label>
        <h2>Padaria do Bairro</h2>
        <h3>Bug em Software</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti fugiat iusto nobis quia at voluptatem officiis nihil suscipit cumque minus, architecto, a fuga enim repellat ipsam quis ullam. Esse, placeat!</p>
      </ion-label>
      <ion-label slot="end">
        <ion-note slot="end" color="warning">Alto</ion-note>
      </ion-label>
    </ion-item>

    <ion-item button>
      <ion-avatar slot="start">
        <img src="../../../assets/img/img1.png">
      </ion-avatar>
      <ion-label>
        <h2>WN Software</h2>
        <h3>Bug em Software</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti fugiat iusto nobis quia at voluptatem officiis nihil suscipit cumque minus, architecto, a fuga enim repellat ipsam quis ullam. Esse, placeat!</p>
      </ion-label>
      <ion-label slot="end">
        <ion-note slot="end" color="warning">Alto</ion-note>
      </ion-label>
    </ion-item>


    <ion-item button>
      <ion-avatar slot="start">
        <img src="../../../assets/img/img1.png">
      </ion-avatar>
      <ion-label>
        <h2>WN Software</h2>
        <h3>Bug em Software</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti fugiat iusto nobis quia at voluptatem officiis nihil suscipit cumque minus, architecto, a fuga enim repellat ipsam quis ullam. Esse, placeat!</p>
      </ion-label>
      <ion-label slot="end">
        <ion-note slot="end" color="warning">Alto</ion-note>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
