<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/sectors"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Detalhes do Ticket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Novo ticket</ion-card-subtitle>
      <ion-card-title>Em desenvolvimento</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Awesome content
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Fechamento</ion-card-subtitle>
      <ion-card-title>Em desenvolvimento</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Cancelamento</ion-card-subtitle>
      <ion-card-title>Em desenvolvimento</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Historico</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="start" name="add"></ion-icon>
          Ver histórico de alterações
        </ion-button>
      </ion-buttons>
    </ion-card-content>
  </ion-card>

</ion-content>
